@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

.custom-hover:hover{
    text-decoration: underline 2px;
    text-decoration-color: #514E4E;
    cursor: pointer;
    text-underline-offset: 4px;
}